
.auth-page {
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    label {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      input {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .flat-button {
      align-self: flex-start;
    }
  }

  .auth-switch {
    margin-top: 1rem;
  }
}
